<h1>Éditer la tâche</h1>

<%= form_with model: @task, local: true do |form| %>
  <div>
    <%= form.label :title, "Titre" %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :details, "Détails" %><br>
    <%= form.text_area :details %>
  </div>

  <div>
    <%= form.label :completed, "Complétée" %><br>
    <%= form.check_box :completed %>
  </div>

  <div>
    <%= form.submit "Mettre à jour la tâche" %>
  </div>
<% end %>
